<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>皓月互联集成管理平台——合理使用政策</title>
    <link rel="stylesheet" href="./static/css/service and privacy.css">
</head>
<body>
	<img src="./static/img/logo.svg" class="logo" alt="ERROR：LOGO无法正确加载">
	<button id="back-btn"><a href="login">返回</a></button>
	<div id="main">
		<h1>合理使用政策 - Acceptable Use Policy</h1>
		<h6>2024/1/13</h6>
		<p>在使用各项云服务前，请您务必仔细阅读并透彻理解本政策<br><br>


概述<br><br>

&emsp;&emsp;1.在遵守国家法律以及相关规定的前提下，为了保证服务质量和对所有用户的公平性，皓月云计算 面向用户建立了一系列合理使用政策 (AUP)，对寄存内容、行为等进行了限制<br>

 

&emsp;&emsp;2.用户在使用 皓月云计算 的服务或产品的过程中，必须遵守合理使用政策。如果用户违反 AUP 定义的规则，皓月云计算 将根据事件严重性，通过通知整改、警告、暂停服务、终止服务、要求赔偿、追究<br>&emsp;&emsp;法律责任等方式进行处理<br><br>

 

 

非法使用<br><br>

&emsp;&emsp;1.所有服务和产品不得用于非法目的，传播、分发、寄存、链接到任何法律或法规禁止的内容都是禁止的<br><br>

 

 

禁止的内容<br><br>

&emsp;&emsp;1.色情,赌博，宣扬暴力，散播病毒和木马以及任何违法中美等法律的内容<br><br>

 

 

禁止的使用途径<br><br>

&emsp;&emsp;如违反以下条款，我们有权暂停或终止服务，恕不另行通知，不承担任何责任。皓月云计算 有权对构成违法条例的用户采取适当的行动。:<br>

 

&emsp;&emsp;&emsp;&emsp;1.禁止搭建各种代理程序，包括但不限于55/55R/v2ry等。<br>

&emsp;&emsp;&emsp;&emsp;2.DDoS、CC等攻击、端口扫描、僵尸网络、To*r 节点<br>

&emsp;&emsp;&emsp;&emsp;3.公共代*理服务、公共DNS解析<br>

&emsp;&emsp;&emsp;&emsp;4.包含但不限于：色*情*或相关擦*边*球类型的内容<br>

&emsp;&emsp;&emsp;&emsp;5.非法下载和盗版行为<br>

&emsp;&emsp;&emsp;&emsp;6.视频聊天（例如，Camfrog，visichat）<br>

&emsp;&emsp;&emsp;&emsp;7.视频直播、在线影视<br>

&emsp;&emsp;&emsp;&emsp;8.Torrents、BT、迅*雷<br>

&emsp;&emsp;&emsp;&emsp;9.关于虚拟*货币(xx币)挖矿<br>

&emsp;&emsp;&emsp;&emsp;10.采集、抓取网站、ip地址欺骗、仿冒品牌类网站、钓鱼网站<br>

&emsp;&emsp;&emsp;&emsp;11.分布式计算平台(例如迅雷水晶、网心*云、猕猴桃、流量矿*石等类型的程序)<br>

&emsp;&emsp;&emsp;&emsp;12.CPU内存硬盘显卡等硬件压力测试软件，（例如Prime95、线程炸弹、等类型的程序）<br>

&emsp;&emsp;&emsp;&emsp;13.网*赚网站、在线攻击(ddos、cc)平台、诈*骗网站、博*彩网站<br>

&emsp;&emsp;&emsp;&emsp;14.刷网站访问量、点击率程序 (例如 流量宝，流量精灵，HitLeap)<br>

&emsp;&emsp;&emsp;&emsp;15.Multics, CCcam, 或其他ID、账号、共享程序<br>

&emsp;&emsp;&emsp;&emsp;16.游戏服务器交流论坛<br>

&emsp;&emsp;&emsp;&emsp;17.使用我们的IP地址，（IPv4和IPv6）逃避IRC或论坛的禁令、规矩<br>

&emsp;&emsp;&emsp;&emsp;18.虚拟主机分销控制面板、VPS分销控制面板等，如：Easypanel面板等<br>

&emsp;&emsp;&emsp;&emsp;19.QEMU、Hyper-v、VMWARE 虚拟机<br>

&emsp;&emsp;&emsp;&emsp;20.Firefox 浏览器、任何GUI桌面、Open*V*P*N<br>

&emsp;&emsp;&emsp;&emsp;21.net_speeder/finalspeed/kcptun<br><br>

 

邮件合理使用规则<br><br>

&emsp;&emsp;不禁止法律允许的群发邮件行为，但是对于垃圾邮件持有零容忍态度<br><br>

 

 

硬件资源合理使用规则<br><br>

&emsp;&emsp;虚拟服务器（VPS）类产品硬件环境均基于公平分享原则，用户不得持续占用大量硬件资源（如运行大量占用硬件资源的软件、持续的性能测试等）<br><br>

 

 

网络资源合理使用规则<br><br>

&emsp;&emsp;除特殊说明外，所有服务和产品的网络均基于公平分享原则，用户不得持续占用大量网络资源（如运行BitTorrent、流量矿石等）和使用FinalSpeed等加速软件。购买独立带宽或独立服务器用户除外<br><br>

 

 

Ddos攻击处理办法<br><br>

&emsp;&emsp;当遭遇 (D)DoS 攻击时，相关服务或产品的IP地址将会被牵引清洗。第一次遭遇攻击会在攻击停止后的 24 小时取消牵引，第二次遭遇攻击将会在攻击停止后的 72 小时取消牵引，频繁被攻击可能会导致<br>相关服务或产品暂停或终止。如用户对外进行Ddos攻击，相关服务或产品将会被立即暂停，直至用户检查并修复问题，若频繁发生对外攻击的情况，相关服务或产品将会被立即终止<br>
		
		</p>
		
		</div>
	
	<script>
    document.getElementById("back-btn").addEventListener("click", function() {
      window.location.href = "login"; 
    });
  </script>
	
</body>
</html>